  <!DOCTYPE html>
  <html lang="en">
  <head><head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;1,100&family=Roboto:wght@100;300&family=Zen+Antique&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ganesh LMS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <style>

  </style>
  </head>
  <body align="left" style="
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 45%, #FFCC70 100%); background-position: center;
    background-repeat: no-repeat;
    background-size:100%; height: 100%
  ">
  <div id="headerContainer">
    {% if is_desktop %}
          {% include 'library/header_desktop.html' %}
      {% else %}
          {% include 'library/header_mobile.html' %}
      {% endif %}
  </div>

  <div align='center' class="container mt-3" style="width:95%;font-size:14px;">
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
  <form align='left' class="card p-5 mt-5"  method="post" style="width:600px;background-color:;" autocomplete="off">    
      {% csrf_token %}
      <tr>
        <th><label for="id_username" class="form-label"> <h4> User Login </h4></label></th>
        <td>



        </td>
      </tr>
      <tr>
        <th><label for="id_username" class="form-label">Username:</label></th>
        <td>

          <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">


        </td>
      </tr>

      <tr>
        <th><label for="id_password" class="form-label">Password:</label></th>
        <td>

          <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">




        </td>
      </tr><br>
      <input class="form-control" style="width:150px;" type="submit" value="Submit">
      <br>

      <a href="{% url 'register_user' %}" class="text-reset text-decoration-none" style="color:grey;">Don't have an account Signup Here</a>
    </form>


  </div>
  {% comment %}  {% endcomment %}

  </div> 
  <br><br><br><br><br>
  {% include 'library/footer.html' %}
    
  </body>
  </html>



  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Send OTP</button>
    </form>
</body>
</html>

</html>
